<!-- Show users -->
<table class="profile" summary="Information profil">
  <tr>
    <td class="main">

      
        <h1>
        	<!-- Gravatar -->
          <%= gravatar_for @user %>
          <%= @user.nom %>
        </h1>
      
      <!-- Appel form de suivi-->
      <%= render 'follow_form' if signed_in? %>

      <!-- Ajout  des micro-messg à la page du Users-- >
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="Micro-messages de l'utilisateur">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>

    </td>

    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
       <!-- path d'accès du user ex: /users/1-->
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Messages</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats'%>
    </td>
  </tr>
</table>


