<!-- Ajout du _header  -->
<header>
	<!-- Lien pour le logo -->
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<!-- Lien page home -->
			<li><%= link_to "Accueil", root_path %></li>
			<!-- Lien vers le profil -->
			<% if signed_in? %>
      		<li><%= link_to "Profil", current_user %></li>
      		<% end %>
			<!-- Lien page help -->
			<li><%= link_to "Aide", pages_help_path %></li>
			<!-- Authentification -->
			<% if signed_in? %>
			<li><%= link_to "Déconnexion", signout_path, :method => :delete  %></li>
			<% else %>
			<li><%= link_to "S'identifier", signin_path %></li>
			<% end %>
			<!-- Authentification -->
		</ul>
	</nav>
</header>