<!DOCTYPE html>
<html>
  	<head>
	    <title><%= titre %></title>
	    <%= csrf_meta_tag %>

	    <!-- Ajout du _stylesheets -->
	    <%= render 'layouts/stylesheets' %>
	</head>
	<body>
    	<div class="container">
    		<!-- Ajout du _header-->
    		<%= render 'layouts/header' %>
    		<section class="round">
    			<%= yield %>
    		</section>
    		<!-- Ajout du _Footer -->
    		<%= render 'layouts/footer' %>
    	</div>
    </body>
</html>