<!DOCTYPE html>
<html>
  	<head>
	    <title><%= titre %></title>
	    <%= csrf_meta_tag %>
	    <!-- Ajout du _stylesheets -->
	    <%= render 'layouts/stylesheets' %>
        <!-- Method Delete -->
        <%= javascript_include_tag :application %>        
	</head>
	<body>
    	<div class="container">
    		<!-- Ajout du _header-->
    		<%= render 'layouts/header' %>
    		<section class="round">
                <!--Ajout du contenu de la variable flash au layout du site -->
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
    			<%= yield %>
    		</section>
    		<!-- Ajout du _Footer -->
    		<%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
    	</div>
    </body>
</html>