<!DOCTYPE html>
<html>
  <head>
    <title><%= titre %></title>
    <%= csrf_meta_tag %>
    <!-- Ajout des feuilles de style a notre application -->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!-- Ajout des feuilles de style a notre application -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>